@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 7, /Users/kathrinegreenberg/Documents/School/Web Dev/dsn1686-exercise-2/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 17, /Users/kathrinegreenberg/Documents/School/Web Dev/dsn1686-exercise-2/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 21, /Users/kathrinegreenberg/Documents/School/Web Dev/dsn1686-exercise-2/scss/components/main */
.bod {
  text-align: center;
  margin-top: 11%; }

/* line 26, /Users/kathrinegreenberg/Documents/School/Web Dev/dsn1686-exercise-2/scss/components/main */
h1 {
  text-align: center;
  margin-top: 5rem;
  color: #8F46C1;
  font-family: 'Lato', sans-serif; }

/* line 33, /Users/kathrinegreenberg/Documents/School/Web Dev/dsn1686-exercise-2/scss/components/main */
h2 {
  text-align: center;
  margin-top: 1rem;
  font-size: 22px;
  color: #B686D6;
  font-family: 'Lato', sans-serif; }

/* line 41, /Users/kathrinegreenberg/Documents/School/Web Dev/dsn1686-exercise-2/scss/components/main */
a {
  text-decoration: none;
  color: #8F46C1;
  font-family: 'Lato', sans-serif; }

/* line 47, /Users/kathrinegreenberg/Documents/School/Web Dev/dsn1686-exercise-2/scss/components/main */
.button {
  background-color: #8F46C1;
  border-radius: 80px;
  padding-top: 0.65rem;
  margin: 2rem 3rem;
  display: inline-block;
  test-decoration: none;
  color: #FBFAFA;
  font-size: 3rem;
  width: 80px;
  height: 80px;
  transition: all ease 0.5s;
  display: inline-block;
  text-align: center;
  margin: 2rem 3rem;
  font-size: 3rem;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  padding-top: 0.65rem;
  transition: all ease 0.5s; }
  /* line 12, /Users/kathrinegreenberg/Documents/School/Web Dev/dsn1686-exercise-2/scss/mixins */
  .button:hover {
    background-color: #A66CCE; }

/* line 64, /Users/kathrinegreenberg/Documents/School/Web Dev/dsn1686-exercise-2/scss/components/main */
.button:hover {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1); }

@font-face {
  font-family: 'custom-font';
  src: url('../fonts/custom-font.eot?29840450');
  src: url('../fonts/custom-font.eot?29840450#iefix') format('embedded-opentype'), url('../fonts/custom-font.woff?29840450') format('woff'), url('../fonts/custom-font.ttf?29840450') format('truetype'), url('../fonts/custom-font.svg?29840450#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 84, /Users/kathrinegreenberg/Documents/School/Web Dev/dsn1686-exercise-2/scss/components/main */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "custom-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em; }

/* line 104, /Users/kathrinegreenberg/Documents/School/Web Dev/dsn1686-exercise-2/scss/components/main */
.icon-phone:before {
  content: '\e800'; }

/* line 105, /Users/kathrinegreenberg/Documents/School/Web Dev/dsn1686-exercise-2/scss/components/main */
.icon-glass:before {
  content: '\e801'; }

/* line 106, /Users/kathrinegreenberg/Documents/School/Web Dev/dsn1686-exercise-2/scss/components/main */
.icon-beaker:before {
  content: '\e802'; }

/* line 107, /Users/kathrinegreenberg/Documents/School/Web Dev/dsn1686-exercise-2/scss/components/main */
.icon-magic:before {
  content: '\e803'; }
